Source: python-fingerprint
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python (>= 2.7),
               python3 (>= 3.2),
               python-setuptools,
               python3-setuptools,
               python-sphinx | python3-sphinx
X-Python-Version: all
X-Python3-Version: >= 3.2
Testsuite: autopkgtest-pkg-python
Vcs-Browser: https://github.com/bastianraschke/pyfingerprint
Vcs-Git: https://github.com/bastianraschke/pyfingerprint.git
Homepage: https://sicherheitskritisch.de

Package: python-fingerprint
Depends: ${python:Depends},
         ${misc:Depends},
         python-serial,
         python-pil
Suggests: python-fingerprint-doc
Architecture: all
Description: Python 2 written library for using ZhianTec fingerprint sensors
 Library for using ZhianTec ZFM-20, ZFM-60, ZFM-70 and ZFM-100 fingerprint
 sensors (known as "Arduino fingerprint sensor") in Python 2. Some other models
 like R302, R303, R305, R306, R307, R551 and FPM10A also work.

Package: python3-fingerprint
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-serial,
         python3-pil
Suggests: python-fingerprint-doc
Architecture: all
Description: Python 3 written library for using ZhianTec fingerprint sensors
 Library for using ZhianTec ZFM-20, ZFM-60, ZFM-70 and ZFM-100 fingerprint
 sensors (known as "Arduino fingerprint sensor") in Python 3. Some other models
 like R302, R303, R305, R306, R307, R551 and FPM10A also work.

Package: python-fingerprint-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Recommends: python-fingerprint | python3-fingerprint
Description: API documentation for PyFingerprint
 Python 2 and 3 written library for using ZhianTec fingerprint sensors. This
 package contains the API documentation.
